:root {
  --dark-text-color: hsl(238, 29%, 16%);
  --medium-text-color: hsl(237, 12%, 33%);
  --light-text-color: hsl(240, 6%, 50%);

  --arrow-color: hsl(14, 88%, 65%);
  --divider-line-color: hsl(240, 5%, 91%);

  --gradient-background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  --regular-font-size: 12px;
  --font-family: 'Kumbh Sans', sans-serif;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
}


/******
     resets
     ******/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


/******
 styles
 ******/

 body{
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: var(--gradient-background);
  font-family: var(--font-family);
  font-weight: var(--regular-font-weight);
  font-size: var(--regular-font-size);
  color: var(--medium-text-color);
 }

 .accordion{
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-radius: 2em;
 }

 .accordion-image-desktop{
  display: none;
 }

 .accordion-image{
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 250px;
 }

 .accordion-image::after{
  position: absolute;
  content: '';
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 250px;
  height: 250px;
  background: url(./images/bg-pattern-mobile.svg)
   no-repeat;
  height: 100px;
 }

 .accordion-text{
  background-color: #fff;
  padding: 4em 2em;
  border-radius: 2em;
 }

 .accordion-title{
  font-size: 2rem;
  font-weight: var(--bold-font-weight);
  color: var(--dark-text-color);
  text-align: center;
  margin-block: 2em 1em;
 }

 .faq-section {
  display: grid;
  gap: 2em;
 }

 .accordion-content{
  position: relative;
 }

 .accordion-content::after{
  position: absolute;
  bottom: -1em;
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--divider-line-color);
 }

 .accordion-full-question{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
  margin-bottom: 0.5em;
 }

 .accordion-question{
  font-size: 0.875rem;
  cursor: pointer;
  transition: color 250ms ease-out;
 }

 .accordion-question:hover{
  color: var(--arrow-color);
 }

 .arrow{
  cursor: pointer;
  width: 0.875rem;
  height: 0.875rem;
  background: url(./images/icon-arrow-down.svg)
  no-repeat center center;
 }

 .accordion-answer{
  width: 90%;
  color: var(--light-text-color);
 }

 .active{
  color: var(--dark-text-color);
  font-weight: var(--bold-font-weight);
 }

 .active-arrow {
  transform: rotate(180deg);
 }

 .hide{
  display: none;
 }

 footer{
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
 }
 footer a{
  color: #fff;
 }

 footer a:hover{
  color: #ddd;
 }

 @media(min-width: 1000px) {
  main{
    max-width: 950px;
  }

  .accordion {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: white;
    padding: 4em;
  }

  .accordion-image{
    display: none;
   }

  .accordion-image-desktop{
    display: block;
    position: relative;
    place-self: center;
    width: 100%;
    height: 100%;
    background: url(./images/bg-pattern-desktop.svg)
    no-repeat center center / contain;

   }

   .box-image{
    position: absolute;
    top: 40%;
    left: -40%;
    width: 50%;
   }

   .woman-image{
    position: absolute;
    top: 50%;
    left: -30%;
    width: 100%;
    transform: translateY(-50%);
   }

   .accordion-text{
    background-color: #fff;
    padding: 2em;
   }

   .accordion-title{
    margin-block: 1em;
   }
 }