:root {
  /* --Mobile: 375px;
  --Desktop: 1440px; */

  --first-background-color: hsl(273, 75%, 66%);
  --second-background-color: hsl(240, 73%, 65%);

  --dark-text-color: hsl(238, 29%, 16%);
  --medium-text-color: hsl(237, 12%, 33%);
  --light-text-color: hsl(240, 6%, 50%);

  --arrow-color: hsl(14, 88%, 65%);
  --horizontal-line-color: hsl(240, 5%, 91%);

  --font-family: 'Kumbh Sans', sans-serif;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --regular-font-size: 12px;
}

/*Resets*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*styling*/

body {
  font-family: var(--font-family);
  font-weight: var(--regular-font-weight);
  font-size: var(--regular-font-size);
  color: var(--medium-text-color);
  background: linear-gradient(var(--first-background-color),
  var(--second-background-color));
  /* background: url(./images/bg-pattern-mobile.svg); */
}

main{
  display: grid;
  place-content: center;
  min-height: 100vh;
  border: 2px solid blue;
}

.wrapper {
  position: relative;
  border: 2px solid green;
  min-height: 700px;
  width: 100%;
}

.img-container{
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
}
.img-container::after{
  position: absolute;
  top: 70px;
  content: '';
  width: 100%;
  height: 100%;
  background: url(./images/bg-pattern-mobile.svg) no-repeat center center / contain;
}

.accordion{
  border: 1px solid red;
  display: grid;
  gap: 1.75rem;
  background-color: white;
  width: 90%;
  margin: 8rem auto auto;
  padding: 8rem 1.5rem 4rem;
  border-radius: 1.5rem;
}

.accordion-title {
  font-size: 2rem;
  font-weight: var(--bold-font-weight);
  color: var(--dark-text-color);
  text-align: center;
}

.content-container {
  position: relative;
}

.content-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--horizontal-line-color);
  bottom: -1rem;
}

.question-container{
  display: flex;
  font-size: 0.875rem;
  cursor: pointer;
}

.question{
  flex: 1;
}

.arrow{
  border: 1px solid blue;
  width: 20px;
  height: 20px;
  background: url(./images/icon-arrow-down.svg) no-repeat center center;
  /* background-color: yellowgreen; */
}

.answer {
  width: 90%;
  color: var(--light-text-color);
}

/*utility classes*/
.inactive {
  display: none;
}

.active{
  color: var(--dark-text-color);
  font-weight: var(--bold-font-weight);
  margin-bottom: 1rem;
}


.arrow-active{
  transform: rotate(180deg);
}
